@import '../../styles/settings.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.skills {
  margin-top: 100px;
  text-align: center;
  padding: 50px 0;

  h2 {
    margin-bottom: 30px;
    //color: white;
  }

  .technologyInfo {
    background-color: yellow; // Żółte tło
    padding: 20px; // Odstęp wewnętrzny
    color: black;
    margin: 0 auto 20px; // Odstęp od innych elementów, automatyczne wyśrodkowanie w poziomie
    animation: pulse 2s infinite alternate; // Animacja
    max-width: 40%; // Maksymalna szerokość
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
  }
  

  // Animacja pulsowania
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

  .skillsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    .skillItem {
      border: 2px solid yellow;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      padding: 30px;
      margin: 20px 1%; // Margines górny i dolny 20px, margines lewy i prawy 1%
      width: calc((100% - 6 * 20px - 2 * 2% - 6 * 50px) / 3); // szerokość elementu (33.33% minus marginesy)
      box-sizing: border-box; /* Upewnij się, że padding nie zwiększa szerokości */
      
      .icon {
        font-size: 40px; // Nowy rozmiar ikon
        margin-bottom: 20px; // Odstęp od tekstu pod ikoną
      }
    
      h3 {
        font-size: 24px; /* Zwiększ rozmiar tytułów */
        margin-bottom: 10px;
        color: yellow;
      }
    
      p {
        font-size: 18px; /* Zwiększ rozmiar opisów */
      }
    } 
  }
}