@import '../../../styles/variables';

/* 🔹 KONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background: var(--primary-bg);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.panelContainer {
  max-width: 1200px;
  margin: 100px auto 50px;
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.description {
  color: var(--secondary-text);
  margin-bottom: 2rem;
}

.error {
  color: var(--error-color);
  margin-top: 1rem;
  font-weight: bold;
}

.tabs {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  button {
    padding: 0.8rem 1.8rem;
    font-weight: bold;
    background: var(--button-bg);
    border: none;
    color: var(--button-text);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .activeTab {
    background: var(--primary-color);
  }
}

.info {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-light);
  padding: 1.5rem 2rem;
  animation: fadeIn 0.4s ease-in-out;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 600px) {
  .panelContainer {
    padding: 3rem 1.5rem;
    margin: 50px auto 50px;
  }

  .tabs {
    flex-direction: column;
    text-align: center;
  }
}

