@import '../../../styles/variables';

.logoutButton {
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--color-warning);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.05);
  }
}